@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden !important;
}

.ReactCollapse--collapse {
    transition: height 500ms;
}

/* .menus{
    transition: 400ms ease-in-out;
} */